<html>
  <head>
    <title>Start spreading the news...</title>
  </head>
<body>
  <h1>Start spreading the news...</h1>

  <%= yield %>

  <address>
    <a href="mailto:wobh@yahoo.com"></a>
  </address>
</body>
</html>
